{{#partial "content"}}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{#if messages.alreadyConnected}}
                <div class="row">
                    <div class="col-md-12 alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{messages.alreadyConnected}}
                    </div>
                </div>
            {{/if}}
            {{#if messages.error}}
                <div class="row">
                    <div class="col-md-12 alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{messages.error}}
                    </div>
                </div>
            {{/if}}

            <form class="form-vertical" role="form"
                action="{{_links.warpjsLogin.href}}" method="POST"
                encType="multipart/form-data"
                >
                <div class="form-group">
                    <label>
                        Username:
                        <input type="text"
                            name="username"
                            class="form-control"
                            placeholder="username"
                            required
                            />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password:
                        <input type="password"
                            name="password"
                            class="form-control"
                            placeholder="password"
                            required
                            />
                    </label>
                </div>
                <button type="submit" class="btn btn-default">
                    Login <span class="glyphicon glyphicon-log-in" />
                </button>

                {{#if redirectUrl}}
                    <input type="hidden" name="redirect" value="{{redirectUrl}}" />
                {{/if}}

            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{{/partial}}

{{> portal-index-page}}
